@import "vars";

.review-card {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.contract-number {
	font-size: $fontMed;
	line-height: 18px;
	color: $lightGray;
}
.review-date {
	font-size: $fontMed;
	color: $lightGray;
}

.review-description {
	width: 95%;
	font-size: $fontMed;
}

.full-link {
	margin-top: 9px;
	display: flex;
	column-gap: 7px;

	a {
		line-height: 14px;
		border-bottom: 1px dashed $buttonColor;
		color: $buttonColor;
	}
}