// Fonts

$myFont                      : Arial, sans-serif;

//  Size

$mediaSm                     : 600px;
$mediaMed                    : 900px;
$devWidth                    : 1145px;

$fontNormal                  : 16px;
$fontMed                     : 14px;

//  Colors

$defaultColor                 : #ffffff;
$bgDesktop                    : #e1f0f8;
$linkActive                   : #f36240;
$lightGray                    : #8a8a8a;
$grayColor                    : #4b4b4b;
$menuActive                   : #7bc3d5;
$textColor                    : #484745;
$borderColor                  : #5f6973;
$buttonColor                  : #eb5825;
